You are required to run tests for the new generated code, 
you can find the tests in the client/tests folder, 
you can run the tests using the command `just test-e2e`, 
you can also run specific tests using the command `just test-e2e-file "tests/integration/login.spec.ts"` 
or `just test-e2e-grep "pattern"`. 

$ARGUMENTS
!`git status`